### Homework #2

1. Round 4.5667 to the nearest hundreth (2 decimals) using a build-in function, round().

In [1]:
round(4.5667,2)

4.57

2. Convert "657" to an integer data type

In [2]:
int("657")

657

3. Write a program to get two numbers from a user. Then, create a 6-digit code that is a series of randomly generated numbers between the two numbers given by the user. Print the 6-digit code so all digits are separated by a dash.

In [ ]:
n1= int(input("Enter a number: "))
n2= int(input("Enter a number: "))

import random as rand
r1= rand.randint (n1, n2)
r2= rand.randint (n1, n2)
r3= rand.randint (n1, n2)
r4= rand.randint (n1, n2)
r5= rand.randint (n1, n2)
r6= rand.randint (n1, n2)

print(f"The 6-digit code is: {r1}-{r2}-{r3}-{r4}-{r5}-{r6}")

4. Write a program to remove ALL the white spaces from the following text:

        Hickory, dickory, dock,     
        The mouse ran up the clock.   
        The clock struck one,   
        The mouse ran down,                      
        Hickory, dickory, dock

In [4]:
l1= " Hickory, dickory, dock,     "
l2= " The mouse ran up the clock.   "
l3= "  The clock struck one,   "
l4= " The mouse ran down,        "
l5= " Hickory, dickory, dock                  "

In [5]:
l1= l1.strip()
l2= l2.strip()
l3= l3.strip()
l4= l4.strip()
l5= l5.strip()

In [6]:
l1= l1.replace(" ","")
l2= l2.replace(" ","")
l3= l3.replace(" ","")
l4= l4.replace(" ","")
l5= l5.replace(" ","")

print(l1)
print(l2)
print(l3)
print(l4)
print(l5)

Hickory,dickory,dock,
Themouseranuptheclock.
Theclockstruckone,
Themouserandown,
Hickory,dickory,dock

5. Write a function to calculate the miles per gallon. Get a miles driven and gallons used from a user and call your function to calculate the miles per gallon.

In [9]:
def mPerG (m, g):
    return print("Miles per gallon is" , m/g)

mile= int(input("The number of miles used:"))
gallon= int(input("The number of gallons used: "))
mPerG(mile, gallon)

The number of miles used:49
The number of gallons used: 3
Miles per gallon is 16.333333333333332

6. Enhance the <b>compute()</b> function created during Module 2. Enhance the function to compute a circle's area and circumference where:

 - circle's area = 3.14 X (radius X radius)   
 - circle's circumference = 3.14 X diameter

In [45]:
def area (r, p):
    print(f"The circle's area is {r*r* p}")
    circumference (r,p)
    
def circumference (r,p):
    print(f"The circle's circumference is {r*2* p}")

In [46]:
radius= float(input ("Enter a radius of a circle: "))
pi= 3.14
area (radius, pi)

Enter a radius of a circle: 4
The circle's area is 50.24
The circle's circumference is 25.12

7. Write a function called multiply_two() that accepts two parameters. The function should print a message like '15 * 2 = 30'.  Randomly generate two numbers between 1 and 100, then call the function with the two random numbers.

In [43]:
def multiply_two (n1,n2):
    print (f"{n1} * {n2} = {n1*n2}")

In [44]:
import random as r
num1= r.randint(1,100)
num2= r.randint(1,100)
multiply_two (num1,num2)

29 * 54 = 1566

8. Create a function for a multiplication table.  Get a number from a user and then call you function which produces a multiplication table for that number.
The output should look something like this:

        Enter a number: 3
        3 X 1 = 3
        3 X 2 = 6
        3 X 3 = 9
        3 X 4 = 12
        3 X 5 = 15
        3 X 6 = 18
        3 X 7 = 21
        3 X 8 = 24
        3 X 9 = 27

In [31]:
def multiplication(n):
    print(f"{n} * 1 = {n*1}")
    print(f"{n} * 2 = {n*2}")
    print(f"{n} * 3 = {n*3}")
    print(f"{n} * 4 = {n*4}")
    print(f"{n} * 5 = {n*5}")
    print(f"{n} * 6 = {n*6}")
    print(f"{n} * 7 = {n*7}")
    print(f"{n} * 8 = {n*8}")
    print(f"{n} * 9 = {n*9}")

In [32]:
n= int (input("Enter a number: "))
multiplication(n)

Enter a number: 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27